name: 'Dispatch Integration Tests'

on:
  repository_dispatch:
    types: [dispatch-integration-tests]
    
permissions:
  contents: read

jobs:
  integration-test-prep:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Print Out the inputs
        run: |
          echo "Integration Test Input Variables"
          echo "----------------------------------------"
          echo "Repo Owner: ${{ github.event.client_payload.repo_owner }}"
          echo "Repo Name: ${{ github.event.client_payload.repo_name }}"
          echo "Release Branch: ${{ github.event.client_payload.release_branch }}"
          echo "Release Number: ${{ github.event.client_payload.release_number }}"
          echo "Version: ${{ github.event.client_payload.version }}"
          echo "Windsor Up: ${{ github.event.client_payload.windsor_up }}"
          echo "Windsor Test Config: ${{ github.event.client_payload.windsor_test_config }}"
          echo "----------------------------------------"
          
      - name: Run Integration Test Prep Action
        id: test_prep
        uses: ./.github/actions/integration-test-prep
        with:
          repo_owner: ${{ github.event.client_payload.target_repo_owner }}
          repo_name: ${{ github.event.client_payload.repo_name }}
          version: ${{ github.event.client_payload.version }}
          release_branch: ${{ github.event.client_payload.release_branch }}
          release_number: ${{ github.event.client_payload.release_number }}
          windsor_test_config: ${{ github.event.client_payload.windsor_test_config }}
          token: ${{ secrets.WINDSORCLI_RELEASE_TOKEN }}    

      - name: Print Integration Test Prep Results
        run: |
          echo "Integration Test Prep Results"
          echo "----------------------------------------"
          echo "Environment Variables:"
          echo "RUNNER_LIST: ${{ env.RUNNER_LIST }}"
          echo "PLATFORM_OS: ${{ env.PLATFORM_OS }}"
          echo "----------------------------------------"
          echo "Action Outputs:"
          echo "RUNNER_LIST: ${{ steps.test_prep.outputs.RUNNER_LIST }}"
          echo "PLATFORM_OS: ${{ steps.test_prep.outputs.PLATFORM_OS }}"
          echo "----------------------------------------"
        shell: bash


  integration-test:
    needs: 
      - integration-test-prep
    strategy:
      fail-fast: false
      matrix:
        runner: ${{ fromJson(needs.integration-test-prep.outputs.runner_list) }}
            
    runs-on: ${{ matrix.runner.os }}
      
    steps:
      - name: Checkout code
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2

      - name: Run Integration Test
        uses: ./.github/actions/integration-test
        with:
          windsor_up: ${{ github.event.client_payload.windsor_up }}
          version: ${{ env.version }}
          release: ${{ env.latest_release_branch }}
          windsor_test_config: ${{ steps.integration-test-prep.outputs.windsor_test_config }}
          docker_host: ${{ matrix.runner.docker_host }}
          token: ${{ secrets.WINDSORCLI_RELEASE_TOKEN }}

