name: 'Dispatch Integration Tests'

on:
  repository_dispatch:
    types: [dispatch-integration-tests]
    
permissions:
  contents: read

jobs:
  run-integration-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          repository: ${{ github.event.client_payload.repo_owner }}/${{ github.event.client_payload.repo_name }}
          token: ${{ secrets.GITHUB_TOKEN }}
          path: ${{ github.workspace }}

      - name: List the contents of the home directory
        run: |
          ls -la

      - name: List the integration test harness.yaml file
        run: |
          cat ./.github/workflows/integration-test-harness.yaml

      - name: Run Integration Tests
        uses: ./.github/actions/integration-test-harness
        with:
          windsor_up: ${{ github.event.client_payload.windsor_up }}
          repo_owner: ${{ github.event.client_payload.repo_owner }}
          repo_name: ${{ github.event.client_payload.repo_name }}
          version: ${{ github.event.client_payload.version }}
          release: ${{ github.event.client_payload.release }}
          windsor_test_config: ${{ github.event.client_payload.windsor_test_config }}
          token: ${{ secrets.WINDSORCLI_RELEASE_TOKEN }}
