name: 'Dispatch Integration Tests'

on:
  repository_dispatch:
    types: [dispatch-integration-tests]
    
permissions:
  contents: read

jobs:
  integration-test-prep:
    runs-on: ubuntu-latest
    outputs:
      RUNNER_LIST: ${{ steps.test_prep.outputs.RUNNER_LIST }}
      PLATFORM_OS: ${{ steps.test_prep.outputs.PLATFORM_OS }}
      WINDSOR_TEST_CONFIG_PATH: ${{ steps.test_prep.outputs.WINDSOR_TEST_CONFIG_PATH }}
      VERSION: ${{ env.VERSION }}
      RELEASE_BRANCH: ${{ env.RELEASE_BRANCH }}
      RELEASE_NUMBER: ${{ env.RELEASE_NUMBER }}
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Print Out the inputs
        run: |
          echo "Integration Test Input Variables"
          echo "----------------------------------------"
          echo "Repo Owner: ${{ github.event.client_payload.repo_owner }}"
          echo "Repo Name: ${{ github.event.client_payload.repo_name }}"
          echo "Release Branch: ${{ github.event.client_payload.release_branch }}"
          echo "Release Number: ${{ github.event.client_payload.release_number }}"
          echo "Version: ${{ github.event.client_payload.version }}"
          echo "Windsor Up: ${{ github.event.client_payload.windsor_up }}"
          echo "Windsor Test Config: ${{ github.event.client_payload.windsor_test_config }}"
          echo "----------------------------------------"
          
      - name: Run Integration Test Prep Action
        id: test_prep
        uses: ./.github/actions/integration-test-prep
        with:
          repo_owner: ${{ github.event.client_payload.target_repo_owner }}
          repo_name: ${{ github.event.client_payload.repo_name }}
          version: ${{ github.event.client_payload.version }}
          release_branch: ${{ github.event.client_payload.release_branch }}
          release_number: ${{ github.event.client_payload.release_number }}
          windsor_test_config: ${{ github.event.client_payload.windsor_test_config }}
          token: ${{ secrets.WINDSORCLI_RELEASE_TOKEN }}    

      - name: Print Integration Test Prep Results
        run: |
          echo "Integration Test Prep Results"
          echo "----------------------------------------"
          echo "Environment Variables:"
          echo "RUNNER_LIST: ${{ env.RUNNER_LIST }}"
          echo "PLATFORM_OS: ${{ env.PLATFORM_OS }}"
          echo "WINDSOR_TEST_CONFIG_PATH: ${{ env.WINDSOR_TEST_CONFIG_PATH }}"
          echo "----------------------------------------"
          echo "Action Outputs:"
          echo "RUNNER_LIST: ${{ steps.test_prep.outputs.RUNNER_LIST }}"
          echo "PLATFORM_OS: ${{ steps.test_prep.outputs.PLATFORM_OS }}"
          echo "WINDSOR_TEST_CONFIG_PATH: ${{ steps.test_prep.outputs.WINDSOR_TEST_CONFIG_PATH }}"
          echo "----------------------------------------"
        shell: bash

  integration-test:
    needs: 
      - integration-test-prep
    strategy:
      fail-fast: false
      matrix:
        runner: ${{ fromJson(needs.integration-test-prep.outputs.RUNNER_LIST) }}
            
    runs-on: ${{ matrix.runner.os }}
      
    steps:
      - name: Checkout code
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2

      - name: Print Job Input Values
        run: |
          echo "----------------------------------------"
          echo "Integration Test Inputs from Previous Job"
          echo "----------------------------------------"
          echo "Platform OS: ${{ needs.integration-test-prep.outputs.PLATFORM_OS }}"
          echo "Windsor Test Config: ${{ needs.integration-test-prep.outputs.WINDSOR_TEST_CONFIG_PATH }}"
          echo "Version: ${{ needs.integration-test-prep.outputs.VERSION }}"
          echo "Release Branch: ${{ needs.integration-test-prep.outputs.RELEASE_BRANCH }}"
          echo "Release Number: ${{ needs.integration-test-prep.outputs.RELEASE_NUMBER }}"
          echo "Runner OS: ${{ matrix.runner.os }}"
          echo "Runner Label: ${{ matrix.runner.label }}"
          echo "Docker Host: ${{ matrix.runner.docker_host }}"
          echo "----------------------------------------"
        shell: bash

      - name: Run Integration Test
        uses: ./.github/actions/integration-test
        with:
          windsor_up: ${{ github.event.client_payload.windsor_up }}
          version: ${{ needs.integration-test-prep.outputs.VERSION }}
          release_branch: ${{ needs.integration-test-prep.outputs.RELEASE_BRANCH }}
          release_number: ${{ needs.integration-test-prep.outputs.RELEASE_NUMBER }}
          windsor_test_config: ${{ needs.integration-test-prep.outputs.WINDSOR_TEST_CONFIG_PATH }}
          docker_host: ${{ matrix.runner.docker_host }}
          platform_os: ${{ needs.integration-test-prep.outputs.PLATFORM_OS }}
